@model Employee

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@Model.FullName</h5>
    <p class="card-text">@Model.Age</p>
    <p class="card-text">$@Model.Salary</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>